{% extends 'base.html.twig' %}

{% block title %}Edit TypeRecette{% endblock %}

{% block body %}
    <h1>Edit TypeRecette</h1>

    {{ include('type_recette/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_type_recette_index') }}">back to list</a>

    {{ include('type_recette/_delete_form.html.twig') }}
{% endblock %}
