{% extends 'base.html.twig' %}

{% block title %}New TypeRecette{% endblock %}

{% block body %}
    <h1>Create new TypeRecette</h1>

    {{ include('type_recette/_form.html.twig') }}

    <a href="{{ path('app_type_recette_index') }}">back to list</a>
{% endblock %}
